.heading {
  margin: 0;
  padding: 0px;
  background-color: 
black;
  color: 
white;
  text-align: center;
}

.heading > h1 {
  padding: 20px;
  margin: 0;
}

#nav-avatar {
  width: 30px;
  height: 30px;
}

#popover-button {
  margin-right: 5vw;
}

#navbar-title {
	padding: 0;
	margin-left: 5vw;
	padding-inline: 0;
}

.md.header-md.header-collapse-none {
  box-shadow: none !important;
}

#user-name .md {
  font-weight: bold;
}

