.navbar ion-toolbar {
  padding: 0 1vw;
}

.heading {
  margin: 0;
  padding: 0px;
  background-color: black;
  color: white;
  text-align: center;
}

.heading > h1 {
  padding: 20px;
  margin: 0;
}

#nav-avatar {
	width: 36px;
	height: 36px;
}

#profile-button {
	margin-right: 20px;
	--box-shadow: none !important;
	--background: var(--ion-color-primary, #0054e9);
}

.md.header-md.header-collapse-none {
  box-shadow: none !important;
}

#user-name .md {
  font-weight: bold;
}

#navbar-title {
  cursor: pointer;
  width: fit-content;
  font-weight: bold;
}