ion-content {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 16%;
    height: 70%;
    border: 1px solid black;
    min-Width: 300px;
    scrollbar-color: gray white;
    --background: white;
}

ion-list {
    padding: 0px !important;
}