
.price-calculation {
    display: flex;
    justify-content: space-between; 
    margin-top: 10px;
    margin-bottom: 10px;
}

#rent-card {
    box-shadow: 0px 0px 10px 0px #0054e9;
    border-radius: 10px;
    min-width: 500px;
    margin-left: 40px;
}

#rent-card-price {
    display: flex;
    align-items: flex-end;
    font-weight: bold;
    font-size: 25px;
}

#rent-card-price-description {
    font-size: 20px;
    font-weight: 100;
    margin-left: 5px;
}

#rent-card-button {
    width: 100%;
}

#price-calculation-container {
    display: flex; 
    flex-direction: column;
    font-size: 20px;
    margin-top: 10px;
}

#price-calculation-container > div {
    text-decoration: underline;
    text-decoration-color: gray;
    color: var(--ion-color-step-850, var(--ion-text-color-step-150, #262626)); 
    margin-top: 10px;
}

#rent-card-total-price {
    border-top: 2px solid gray;
    padding-top: 15px;
    font-weight: bold;
    text-decoration: none !important;
}