.login-heading {
	text-align: center;
	margin: 5vh 0 5vh 0;
	font-weight: bold;
}

/* Space between inputs */
.login-input {
	margin-bottom: 1.5vh;
}

/* Show Error when email not valid */
.login-input.has-value.ion-invalid .error-text.sc-ion-input-md {
	display: block!important;
}	