.register-heading {
	text-align: center;
	margin: 5vh 0 5vh 0;
	font-weight: bold;
}

.register-input {
	margin-bottom: 1.5vh;
}

.md.ion-focusable.select-ltr {
	margin-bottom: 1.5vh;
}

.register-input.has-value.ion-invalid .error-text.sc-ion-input-md {
	display: block!important;
}	
