.registration-grid {
    background-image: url("src/pages/images/Parkplatz-Image.jpg");
    background-size: cover; /* Bild wird so skaliert, dass es den gesamten Hintergrund bedeckt */
    background-position: center; /* Bild wird zentriert im Hintergrund positioniert */
    background-repeat: no-repeat; /* Bild wird nicht wiederholt */
    height: 100vh; /* Bild nimmt die gesamte Höhe des Viewports ein */
    width: 200vh; /* Bild nimmt die gesamte Breite des Viewports ein */
    display: flex; /* Flex-Layout verwenden, um Inhalte zu zentrieren */
    justify-content: center; /* Inhalte horizontal zentrieren */
    align-items: center; /* Inhalte vertikal zentrieren */
}

.registration-input {
    margin-bottom: 10px; /* Abstand zwischen den Input-Feldern */
    width: 500% !important; /* Eingabefelder nehmen die volle Breite der Spalte ein */
    height: 40px !important; /* Höhe der Eingabefelder */
}